.profile-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-top: 50px;
}

.mutable-details {
    width: 70%;
    flex-grow: 0.7;  
    display: flex;
    flex-direction: column;  
}

.separating-line{
    margin-top: 10;
    height: 800px;
    margin-left: 20px;
    margin-right: 20px;
    width: 5px;
    background-color: lightgray;
    border-radius: 10px;
}

.follow-pane {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.follower-pane {
    flex-grow: 1;
    margin: auto;
    height: 100%;
}

.following-pane {
    flex-grow: 1;
    margin: auto;
    height: 100%;
}

#follower-heading{
    color: darkorange;
}

#following-heading{
    color: darkorange;
}

#follower-heading:hover{
    color: orangered;
    cursor: pointer;
}

#following-heading:hover{
    color: orangered;
    cursor: pointer;
}

.display-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;
}