.login-page{
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 900px;
    height: auto;
    background-color: whitesmoke;
    opacity: 0.85;
}

.middle-line{
    height: 550px;
    border: 1px solid lightgrey ;
}

#loginCredentialsError {
    color: lightcoral;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: 100;
    font-style: italic;
}

.inner-pane{
    background-image: url('https://i.redd.it/c3uhsgo1vx541.jpg');   
    height: 1100px;
    display: flex;
    justify-content: center; 
    align-items: center;
}