.login-page{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    /* background-image: linear-gradient(to bottom right, #f00060, #ff4500); */
    height: 100%;
    margin-top: 0;
}

.middle-line{
    height: 550px;
    border: 1px solid lightgrey ;
}

#loginCredentialsError {
    color: lightcoral;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: 100;
    font-style: italic;
}